/*----------------------------
Design and Development by Andrew Krigline
akrigline.com
--------------*/

@font-face {
  font-family: 'Uvers-UltraCon-Thin';
  src: url('../fonts/UversUltraConThin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UversUltraConThin.otf')  format('opentype'),
        url('../fonts/UversUltraConThin.woff') format('woff'),
        url('../fonts/UversUltraConThin.ttf')  format('truetype'),
        url('../fonts/UversUltraConThin.svg#UniversLTStd-LightUltraCn') format('svg');
  font-weight: normal;
  font-style: normal;
}

.logotype{
  font-family: 'Uvers-UltraCon-Thin';
  letter-spacing: .1em;
  text-transform: lowercase;
  font-weight:normal;
}

.oswald{
  font-family: 'Oswald', sans-serif;
}

html,body{
	height:100%;
}

.top-nav{
	margin-bottom:0;
	border-radius:0;
}

section{
	width:100%;
	height:200%;
	position:relative;
}

figure{
	overflow:hidden;
}

.intro{
	margin:0;
  overflow:hidden;
  
	header{
		
    background-color:rgba(45,45,45,0.9);
    background: -moz-radial-gradient(center, ellipse cover, rgba(33,33,33,0.95) 0%, rgba(48,48,48,1) 90%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(33,33,33,0.95)), color-stop(90%,rgba(48,48,48,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(33,33,33,0.95) 0%,rgba(48,48,48,1) 90%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(33,33,33,0.95) 0%,rgba(48,48,48,1) 90%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(33,33,33,0.95) 0%,rgba(48,48,48,1) 90%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(33,33,33,0.95) 0%,rgba(48,48,48,1) 90%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6212121', endColorstr='#303030',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    width:100%;
		height:50%;
		position:relative;
		h1{
      line-height:1.1em;
      text-align: center;
			max-width:-webkit-max-content;
			max-width:max-content;
			height:-webkit-min-content;

			-webkit-background-clip:text;
			background-clip:text;

			-webkit-text-fill-color:transparent;
			text-fill-color:transparent;

			color:#ccc;

      @extend .oswald;
      text-transform: uppercase;
      font-weight:800;
      font-size:8em;
      letter-spacing: .1em;

			margin:auto;

			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;

      &.welcome-title{
        @extend .logotype;
        font-size:12em;
        
        .basedown{
          display:inline-block;
          position:relative;
          bottom:-0.3em;
          -webkit-background-clip:text;
          background-clip:text;

          -webkit-text-fill-color:transparent;
          text-fill-color:transparent;
        }
        .welcome-dots{
          letter-spacing: 0.09em;
          font-family: 'open sans', sans-serif;
          font-size: 0.7em;
          display:block;
          position:relative;
          bottom:1.22em;
          left:2.3em;
          -webkit-background-clip:text;
          background-clip:text;

          -webkit-text-fill-color:transparent;
          text-fill-color:transparent;
        }
      }
		}
		p{
			color:#ccc;
			width:50%;

			position:absolute;
			top:60%;
			left:0;
			right:0;

			margin:auto;
		}
	}
}

.jumbotron {
  width: 100%;
  height: 50%;
  margin-bottom: 0;
  background: transparent;
  //box-shadow: 0 .4em .2em rgba(0,0,0,0.6) inset;
  figcaption {
    padding: 1em 2em;
    width: 33.3333%;
    position: absolute;
    bottom: 10em;
    right: 0;
    background-color: #333;
    color: #fff;
    //box-shadow: .4em .4em 0 rgba(0,0,0,0.6);
  }
}


.portfolio{
	height:100%;
	figure{
		position:relative;
		height:0;
		padding-top:17%;
		&:hover figcaption{
			opacity:1;
		}
	}
	img{
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		width:auto;
		height:auto;
		min-height:100%;
		min-width:100%;
		max-width:none;
		max-height:none;
	}
	figcaption{
		top:0;
		right:0;
		position:absolute;
		
		width:100%;
		height:100%;

		background:rgba(255,255,255,0.75);

		text-align:center;
		opacity:0;
		transition:all 600ms;
	}
}

.team {
  height: 100%;
  nav {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    li {
      display: inline-block;
      a {
        padding: 1em 2em;
      }
    }
  }
}

.members {
  text-align: center;
  a {
    padding: .5em 2em;
    display: inline-block;
  }
}

.award {
  text-align: center;
  img {
    max-width: 63%;
    margin: 1em 0;
  }
}

.background-img{
	background-size:cover;
	background-attachment:fixed;
}

.first{
	background-image: url(../img/img1.jpg);
}

.second{
	background-image: url(../img/img3.jpg);
}

.third{
	background-image: url(../img/img4.jpg);
}